body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

canvas {
  border: 2px solid #333;
  border-radius: 5px;
}

.message-section {
  margin-top: 20px;
}

#messages {
  margin-bottom: 10px;
  max-height: 150px;
  overflow-y: auto;
}

#message-input {
  width: calc(100% - 80px);
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-message {
  width: 70px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .sidebar {
    width: 25%;
    height: 100%;
    box-shadow: none;
  }

  .main {
    padding: 10px;
  }

  canvas {
    width: auto;
    height: auto;
    align-items: center;
  }
}